/* Base Styles */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #0a8d45;
    letter-spacing: 2px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 2px;
    color: white;
}

.profile-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: nowrap; 
}

.form, .profile {
    flex: 1;
    min-width: 300px;
    max-width: 48%;
    box-sizing: border-box;
    padding: 40px;
    border-radius: 8px;
}

.form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: rgb(157, 194, 83);
}

.form input, .form textarea {
    width: 100%;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border: none;
    color: white;
    font-weight: bolder;
    letter-spacing: 2px;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    box-sizing: border-box;
    outline: none;
}

.form input:focus, .form textarea:focus {
    border-bottom: 2px solid rgb(105, 166, 13);
}

.form textarea {
    resize: vertical;
}

.profile {
    text-align: center;
}

.profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.profile-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 30px;
}

.profile-buttons button, .profile button.logout {
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 2px;
}

.profile-buttons button.edit-profile, .profile button.logout {
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
    margin-right: 80px;
}

.profile-buttons button.save {
    background-color: #dc3545;
    color: #fff;
    margin-left: 80px;
}

.profile a.logout-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
}

.profile a.logout-link button.logout {
    padding: 10px 30px;
    margin: 40px auto;
    display: block;
    background-color: black;
    color: white;
}

@media (max-width: 900px) {
    .profile-section {
        flex-direction: column;
        align-items: center;
    }

    .form, .profile {
        max-width: 700px;
        width: 90%;
    }

    .profile-buttons {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 1.5rem;
    }

    .profile img {
        width: 150px;
        height: 150px;
    }

    .profile-buttons button, 
    .profile a.logout-link button.logout {
        width: 100%;
        margin: 10px 0;
    }

    .form input, .form textarea {
        width: 100%;
    }
}
